*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.475);
    z-index: 999;
}

.wrap-img{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-links{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.wrap-links a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition:all 200ms ease-in-out;
}

.wrap-links a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.logo{
    width: 45px;
    height: 40px;
}

.logo3{
    justify-content: center;
}

#s1{
    min-height: 100vh;
    background-color: black;
    background-image: url(./Images/Banner2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.left{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 500ms ease-in-out;
}

@keyframes fromLeft {
    0%{
        transform: translate(-100px);
        opacity: 0;
    }   
    100%{ 
        transform: translate(0px);
        opacity: 1;
    }
}

.right{
    width: 350px;
    animation: fromRight 500ms ease-in-out;
}

.wrap-banner{
    border-radius: 30px;
    overflow: hidden;
    width: 500px;
    height: 500px;
}

.wrap-banner img{
    width:500px;
    height: auto;
    transition: all 200ms ease-in-out;
}

.wrap-banner img:hover{
    filter: grayscale(0);
    transform: scale(1.1)
}

.right h1{
    font-size: 48px;
    width: 100%;
    color: white;
}

.right p{
    font-size: 18px;
    width: 100%;
    color: white;
}

#s2{
    min-height: 100vh;
    padding-top: 80px;
    background-color: black;
}

.card h3{
    color: white;
}

.card p{
    color: white;
}

.wrap-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 700px;
    height: 700px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    width: 80%;
    height: auto;
    margin-bottom: 80px;
    transition: all 200ms linear;
    border-radius: 16px;
}

.card:hover img{
    transform: scale(1.1);
}

#s3{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    background-image: url(./Images/FUNDO2.jpg);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.475);
    z-index: 999;
    animation: fromTop 2s ease-in-out;
}

#s3 iframe{
    width: 80%;
    height: 800px;
}

.wrap-video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#s4{
    min-height: 100vh;
    padding-top: 80px;
    background-image: url(./Images/FUNDO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.b-img{
    width: 100%;
    height: 100px;
}


@media (width <= 768px){
    body{
    padding-top: 15vh;
}

    nav{
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }
    .wrap-links a{
        text-align: center;
    }

    #s1 {
        min-height: 100vh;  
    }

    .left{
        width: 100%;
    }

    .right{
        width: 100%;
        text-align: center;
    }

    .wrap-banner{
        width: 250px;
        height: 250px;
    }

    .wrap-banner img{
        width: 250px;
        height: 250px;
    }

    #s3{
        min-height: 50vh;
        height: auto;
        width: 100%;
    }

   #s3 iframe{
        width:100%;
        height: 200px;
    }
}
